:root {
  --large: 2.5rem;
  --medium: 1.5rem;
  --small: 1rem;
  --medium-space: 10px;
  --large-space: 30px;
  min-width: 900px;
}

/* Header Styles */

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: end;
  gap: var(--large-space);
  margin: var(--large-space);
}

.header-top {
  border: 3px solid black;
  grid-column: 1 / -1;
  width: 500px;
  padding: 20px;
  display: grid;
  gap: var(--medium-space);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header-top .name {
  font-size: var(--large);
}

.header-top .job-title {
  font-size: var(--medium);
}

.contact {
  font-size: var(--small);
  height: var(--small);
  display: flex;
  place-self: center;
  gap: var(--medium-space);
}

img {
  height: var(--small);
}

/* Main styles */

.main {
  border-width: 5px 0;
  border-style: solid;
}

.main-component {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-title {
  font-size: var(--medium);
  border-right: 1px solid black;
  padding: var(--medium-space);
  justify-self: end;
}

.profile-text {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--large-space);
}

.content {
  padding: var(--medium-space);
}

.org {
  font-size: var(--medium);
  font-weight: bold;
}

.title {
  font-style: italic;
  margin-bottom: var(--medium-space);
}

.list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}